.firstpage{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}

img{
    width: 50vw;
    margin-top: 5rem;
}

.register-button{
    margin-top:3rem;
}